.dashboard-container {
  text-align: center;
}

.tweet-input-box {
  padding: 10px;
  width: 39%;
  height: 11vh;
  font-size: 20px;
}

.card-body {
  display: inline-block;
  float: none;
  background: #fff;
  padding: 1rem;
  border: 1px solid #ccc;
  width: 50%;
  margin: 2rem 0;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.tweet-btn {
  margin: 0px 10px;
  vertical-align: top;
}

.card-header {
  color: #9e9e9e;
  font-size: 25px;
  text-align: left;
  font-weight: 700;
}

.card-break-ruler {
  border-bottom: 1px solid #9e9e9e;
}

.seperator-dot {
  border-radius: 50px;
  width: 5px;
  height: 5px;
  background: #9e9e9e;
  vertical-align: middle;
}

.dashboard-content {
  width: 60%;
}

.card-content {
  font-size: 20px;
}

.logout {
  position: absolute;

  right: 0;

  top: 0;
}
